# Starbucks Capstone Challenge

### Introduction

This data set contains simulated data that mimics customer behavior on the Starbucks rewards mobile app. Once every few days, Starbucks sends out an offer to users of the mobile app. An offer can be merely an advertisement for a drink or an actual offer such as a discount or BOGO (buy one get one free). Some users might not receive any offer during certain weeks. 

Not all users receive the same offer, and that is the challenge to solve with this data set.

Your task is to combine transaction, demographic and offer data to determine which demographic groups respond best to which offer type. This data set is a simplified version of the real Starbucks app because the underlying simulator only has one product whereas Starbucks actually sells dozens of products.

Every offer has a validity period before the offer expires. As an example, a BOGO offer might be valid for only 5 days. You'll see in the data set that informational offers have a validity period even though these ads are merely providing information about a product; for example, if an informational offer has 7 days of validity, you can assume the customer is feeling the influence of the offer for 7 days after receiving the advertisement.

You'll be given transactional data showing user purchases made on the app including the timestamp of purchase and the amount of money spent on a purchase. This transactional data also has a record for each offer that a user receives as well as a record for when a user actually views the offer. There are also records for when a user completes an offer. 

Keep in mind as well that someone using the app might make a purchase through the app without having received an offer or seen an offer.

### Example

To give an example, a user could receive a discount offer buy 10 dollars get 2 off on Monday. The offer is valid for 10 days from receipt. If the customer accumulates at least 10 dollars in purchases during the validity period, the customer completes the offer.

However, there are a few things to watch out for in this data set. Customers do not opt into the offers that they receive; in other words, a user can receive an offer, never actually view the offer, and still complete the offer. For example, a user might receive the "buy 10 dollars get 2 dollars off offer", but the user never opens the offer during the 10 day validity period. The customer spends 15 dollars during those ten days. There will be an offer completion record in the data set; however, the customer was not influenced by the offer because the customer never viewed the offer.

### Cleaning

This makes data cleaning especially important and tricky.

You'll also want to take into account that some demographic groups will make purchases even if they don't receive an offer. From a business perspective, if a customer is going to make a 10 dollar purchase without an offer anyway, you wouldn't want to send a buy 10 dollars get 2 dollars off offer. You'll want to try to assess what a certain demographic group will buy when not receiving any offers.

### Final Advice

Because this is a capstone project, you are free to analyze the data any way you see fit. For example, you could build a machine learning model that predicts how much someone will spend based on demographics and offer type. Or you could build a model that predicts whether or not someone will respond to an offer. Or, you don't need to build a machine learning model at all. You could develop a set of heuristics that determine what offer you should send to each customer (i.e., 75 percent of women customers who were 35 years old responded to offer A vs 40 percent from the same demographic to offer B, so send offer A).

# Data Sets

The data is contained in three files:

* portfolio.json - containing offer ids and meta data about each offer (duration, type, etc.)
* profile.json - demographic data for each customer
* transcript.json - records for transactions, offers received, offers viewed, and offers completed

Here is the schema and explanation of each variable in the files:

**portfolio.json**
* id (string) - offer id
* offer_type (string) - type of offer ie BOGO, discount, informational
* difficulty (int) - minimum required spend to complete an offer
* reward (int) - reward given for completing an offer
* duration (int) - time for offer to be open, in days
* channels (list of strings)

**profile.json**
* age (int) - age of the customer 
* became_member_on (int) - date when customer created an app account
* gender (str) - gender of the customer (note some entries contain 'O' for other rather than M or F)
* id (str) - customer id
* income (float) - customer's income

**transcript.json**
* event (str) - record description (ie transaction, offer received, offer viewed, etc.)
* person (str) - customer id
* time (int) - time in hours since start of test. The data begins at time t=0
* value - (dict of strings) - either an offer id or transaction amount depending on the record

**Note:** If you are using the workspace, you will need to go to the terminal and run the command `conda update pandas` before reading in the files. This is because the version of pandas in the workspace cannot read in the transcript.json file correctly, but the newest version of pandas can. You can access the termnal from the orange icon in the top left of this notebook.  

You can see how to access the terminal and how the install works using the two images below.  First you need to access the terminal:

<img src="pic1.png"/>

Then you will want to run the above command:

<img src="pic2.png"/>

Finally, when you enter back into the notebook (use the jupyter icon again), you should be able to run the below cell without any errors.

In [1]:
import pandas as pd
import numpy as np
import math
import json

import itertools

import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import tqdm

In [2]:
# read in the json files
portfolio = pd.read_json('data/portfolio.json', orient='records', lines=True)
profile = pd.read_json('data/profile.json', orient='records', lines=True)
transcript = pd.read_json('data/transcript.json', orient='records', lines=True)

# Portfolio

In [3]:
portfolio

,reward,channels,difficulty,duration,offer_type,id
0,10,"[email, mobile, social]",10,7,bogo,ae264e3637204a6fb9bb56bc8210ddfd
1,10,"[web, email, mobile, social]",10,5,bogo,4d5c57ea9a6940dd891ad53e9dbe8da0
2,0,"[web, email, mobile]",0,4,informational,3f207df678b143eea3cee63160fa8bed
3,5,"[web, email, mobile]",5,7,bogo,9b98b8c7a33c4b65b9aebfe6a799e6d9
4,5,"[web, email]",20,10,discount,0b1e1539f2cc45b7b9fa7c272da2e1d7
5,3,"[web, email, mobile, social]",7,7,discount,2298d6c36e964ae4a3e7e9706d1fb8c2
6,2,"[web, email, mobile, social]",10,10,discount,fafdcd668e3743c1bb461111dcafc2a4
7,0,"[email, mobile, social]",0,3,informational,5a8bc65990b245e5a138643cd4eb9837
8,5,"[web, email, mobile, social]",5,5,bogo,f19421c1d4aa40978ebb69ca19b0e20d
9,2,"[web, email, mobile]",10,7,discount,2906b810c7d4411798c6938adc9daaa5

## Data Cleaning : Portfolio

In [4]:
# Rename portfolio id column to offer_id column to remove confusion between different id column in other dataframes
portfolio.rename(columns={'id':'offer_id'}, inplace=True)

In [5]:
portfolio

,reward,channels,difficulty,duration,offer_type,offer_id
0,10,"[email, mobile, social]",10,7,bogo,ae264e3637204a6fb9bb56bc8210ddfd
1,10,"[web, email, mobile, social]",10,5,bogo,4d5c57ea9a6940dd891ad53e9dbe8da0
2,0,"[web, email, mobile]",0,4,informational,3f207df678b143eea3cee63160fa8bed
3,5,"[web, email, mobile]",5,7,bogo,9b98b8c7a33c4b65b9aebfe6a799e6d9
4,5,"[web, email]",20,10,discount,0b1e1539f2cc45b7b9fa7c272da2e1d7
5,3,"[web, email, mobile, social]",7,7,discount,2298d6c36e964ae4a3e7e9706d1fb8c2
6,2,"[web, email, mobile, social]",10,10,discount,fafdcd668e3743c1bb461111dcafc2a4
7,0,"[email, mobile, social]",0,3,informational,5a8bc65990b245e5a138643cd4eb9837
8,5,"[web, email, mobile, social]",5,5,bogo,f19421c1d4aa40978ebb69ca19b0e20d
9,2,"[web, email, mobile]",10,7,discount,2906b810c7d4411798c6938adc9daaa5

In [6]:
# One-Hot encoding of offer type column
df_temp=pd.get_dummies(data=portfolio.offer_type, prefix='offer_type')
df_portfolio=pd.concat([portfolio, df_temp], axis=1)
df_portfolio.drop('offer_type', axis=1, inplace=True)

In [7]:
# Converting Channels variable into respective columns
unq_channels=list(set(itertools.chain(*portfolio['channels'].tolist())))
for channel in unq_channels:
    df_portfolio[channel] = df_portfolio.channels.apply(lambda x:1 if channel in x else 0 )
df_portfolio.drop('channels', axis=1, inplace=True)

In [8]:
df_portfolio

,reward,difficulty,duration,offer_id,offer_type_bogo,offer_type_discount,offer_type_informational,mobile,social,email,web
0,10,10,7,ae264e3637204a6fb9bb56bc8210ddfd,1,0,0,1,1,1,0
1,10,10,5,4d5c57ea9a6940dd891ad53e9dbe8da0,1,0,0,1,1,1,1
2,0,0,4,3f207df678b143eea3cee63160fa8bed,0,0,1,1,0,1,1
3,5,5,7,9b98b8c7a33c4b65b9aebfe6a799e6d9,1,0,0,1,0,1,1
4,5,20,10,0b1e1539f2cc45b7b9fa7c272da2e1d7,0,1,0,0,0,1,1
5,3,7,7,2298d6c36e964ae4a3e7e9706d1fb8c2,0,1,0,1,1,1,1
6,2,10,10,fafdcd668e3743c1bb461111dcafc2a4,0,1,0,1,1,1,1
7,0,0,3,5a8bc65990b245e5a138643cd4eb9837,0,0,1,1,1,1,0
8,5,5,5,f19421c1d4aa40978ebb69ca19b0e20d,1,0,0,1,1,1,1
9,2,10,7,2906b810c7d4411798c6938adc9daaa5,0,1,0,1,0,1,1

In [9]:
df_portfolio.sum()

reward                                                                     42
difficulty                                                                 77
duration                                                                   65
offer_id                    ae264e3637204a6fb9bb56bc8210ddfd4d5c57ea9a6940...
offer_type_bogo                                                             4
offer_type_discount                                                         4
offer_type_informational                                                    2
mobile                                                                      9
social                                                                      6
email                                                                      10
web                                                                         8
dtype: object

# Transcript

In [10]:
transcript

,person,event,value,time
0,78afa995795e4d85b5d9ceeca43f5fef,offer received,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'},0
1,a03223e636434f42ac4c3df47e8bac43,offer received,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'},0
2,e2127556f4f64592b11af22de27a7932,offer received,{'offer id': '2906b810c7d4411798c6938adc9daaa5'},0
3,8ec6ce2a7e7949b1bf142def7d0e0586,offer received,{'offer id': 'fafdcd668e3743c1bb461111dcafc2a4'},0
4,68617ca6246f4fbc85e91a2a49552598,offer received,{'offer id': '4d5c57ea9a6940dd891ad53e9dbe8da0'},0
...,...,...,...,...
306529,b3a1272bc9904337b331bf348c3e8c17,transaction,{'amount': 1.5899999999999999},714
306530,68213b08d99a4ae1b0dcb72aebd9aa35,transaction,{'amount': 9.53},714
306531,a00058cf10334a308c68e7631c529907,transaction,{'amount': 3.61},714
306532,76ddbd6576844afe811f1a3c0fbb5bec,transaction,{'amount': 3.5300000000000002},714
306533,c02b10e8752c4d8e9b73f918558531f7,transaction,{'amount': 4.05},714

## Data Cleaning : Transcript

In [11]:
#rename column id to customer_id for future merging purpose
transcript.rename(columns={'person':'customer_id'}, inplace=True)

In [12]:
#Change and rouding off the time in hours into days for better understanding 
transcript['days'] = transcript.time.apply(lambda x: round(x/24.0))
#transcript.rename(columns={'time':'days'}, inplace=True)
transcript

,customer_id,event,value,time,days
0,78afa995795e4d85b5d9ceeca43f5fef,offer received,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'},0,0
1,a03223e636434f42ac4c3df47e8bac43,offer received,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'},0,0
2,e2127556f4f64592b11af22de27a7932,offer received,{'offer id': '2906b810c7d4411798c6938adc9daaa5'},0,0
3,8ec6ce2a7e7949b1bf142def7d0e0586,offer received,{'offer id': 'fafdcd668e3743c1bb461111dcafc2a4'},0,0
4,68617ca6246f4fbc85e91a2a49552598,offer received,{'offer id': '4d5c57ea9a6940dd891ad53e9dbe8da0'},0,0
...,...,...,...,...,...
306529,b3a1272bc9904337b331bf348c3e8c17,transaction,{'amount': 1.5899999999999999},714,30
306530,68213b08d99a4ae1b0dcb72aebd9aa35,transaction,{'amount': 9.53},714,30
306531,a00058cf10334a308c68e7631c529907,transaction,{'amount': 3.61},714,30
306532,76ddbd6576844afe811f1a3c0fbb5bec,transaction,{'amount': 3.5300000000000002},714,30
306533,c02b10e8752c4d8e9b73f918558531f7,transaction,{'amount': 4.05},714,30

In [13]:
transcript['event'].unique()

array(['offer received', 'offer viewed', 'transaction', 'offer completed'],
      dtype=object)

In [14]:
transcript[transcript['event']=='transaction']

,customer_id,event,value,time,days
12654,02c083884c7d45b39cc68e1314fec56c,transaction,{'amount': 0.8300000000000001},0,0
12657,9fa9ae8f57894cc9a3b8a9bbe0fc1b2f,transaction,{'amount': 34.56},0,0
12659,54890f68699049c2a04d415abc25e717,transaction,{'amount': 13.23},0,0
12670,b2f1cd155b864803ad8334cdf13c4bd2,transaction,{'amount': 19.51},0,0
12671,fe97aa22dd3e48c8b143116a8403dd52,transaction,{'amount': 18.97},0,0
...,...,...,...,...,...
306529,b3a1272bc9904337b331bf348c3e8c17,transaction,{'amount': 1.5899999999999999},714,30
306530,68213b08d99a4ae1b0dcb72aebd9aa35,transaction,{'amount': 9.53},714,30
306531,a00058cf10334a308c68e7631c529907,transaction,{'amount': 3.61},714,30
306532,76ddbd6576844afe811f1a3c0fbb5bec,transaction,{'amount': 3.5300000000000002},714,30
306533,c02b10e8752c4d8e9b73f918558531f7,transaction,{'amount': 4.05},714,30

In [15]:
transcript[transcript['event']=='offer received']

,customer_id,event,value,time,days
0,78afa995795e4d85b5d9ceeca43f5fef,offer received,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'},0,0
1,a03223e636434f42ac4c3df47e8bac43,offer received,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'},0,0
2,e2127556f4f64592b11af22de27a7932,offer received,{'offer id': '2906b810c7d4411798c6938adc9daaa5'},0,0
3,8ec6ce2a7e7949b1bf142def7d0e0586,offer received,{'offer id': 'fafdcd668e3743c1bb461111dcafc2a4'},0,0
4,68617ca6246f4fbc85e91a2a49552598,offer received,{'offer id': '4d5c57ea9a6940dd891ad53e9dbe8da0'},0,0
...,...,...,...,...,...
257882,d087c473b4d247ccb0abfef59ba12b0e,offer received,{'offer id': 'ae264e3637204a6fb9bb56bc8210ddfd'},576,24
257883,cb23b66c56f64b109d673d5e56574529,offer received,{'offer id': '2906b810c7d4411798c6938adc9daaa5'},576,24
257884,6d5f3a774f3d4714ab0c092238f3a1d7,offer received,{'offer id': '2298d6c36e964ae4a3e7e9706d1fb8c2'},576,24
257885,9dc1421481194dcd9400aec7c9ae6366,offer received,{'offer id': 'ae264e3637204a6fb9bb56bc8210ddfd'},576,24
257886,e4052622e5ba45a8b96b59aba68cf068,offer received,{'offer id': '3f207df678b143eea3cee63160fa8bed'},576,24

In [16]:
#Transaction has amount variable under value, and offer received, offer viewed and offer completed has offer id
#Extract the variables from value column 
transcript['amount'] = transcript['value'].apply(lambda x: x.get('amount', np.nan))
transcript['offer_id'] = transcript['value'].apply(lambda x: x.get('offer id', x.get('offer_id',np.nan)))
transcript.drop('value',inplace=True, axis=1)

In [17]:
transcript

,customer_id,event,time,days,amount,offer_id
0,78afa995795e4d85b5d9ceeca43f5fef,offer received,0,0,NaN,9b98b8c7a33c4b65b9aebfe6a799e6d9
1,a03223e636434f42ac4c3df47e8bac43,offer received,0,0,NaN,0b1e1539f2cc45b7b9fa7c272da2e1d7
2,e2127556f4f64592b11af22de27a7932,offer received,0,0,NaN,2906b810c7d4411798c6938adc9daaa5
3,8ec6ce2a7e7949b1bf142def7d0e0586,offer received,0,0,NaN,fafdcd668e3743c1bb461111dcafc2a4
4,68617ca6246f4fbc85e91a2a49552598,offer received,0,0,NaN,4d5c57ea9a6940dd891ad53e9dbe8da0
...,...,...,...,...,...,...
306529,b3a1272bc9904337b331bf348c3e8c17,transaction,714,30,1.59,NaN
306530,68213b08d99a4ae1b0dcb72aebd9aa35,transaction,714,30,9.53,NaN
306531,a00058cf10334a308c68e7631c529907,transaction,714,30,3.61,NaN
306532,76ddbd6576844afe811f1a3c0fbb5bec,transaction,714,30,3.53,NaN
306533,c02b10e8752c4d8e9b73f918558531f7,transaction,714,30,4.05,NaN

In [18]:
transcript_offer=transcript[transcript['amount'].isnull()]
transcript_offer.drop('amount', axis=1, inplace=True)
transcript_offer['event'].unique()

C:\ana\lib\site-packages\pandas\core\frame.py:4102: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

array(['offer received', 'offer viewed', 'offer completed'], dtype=object)

In [19]:
transcript_offer.reset_index(inplace=True, drop=True)
transcript_offer

,customer_id,event,time,days,offer_id
0,78afa995795e4d85b5d9ceeca43f5fef,offer received,0,0,9b98b8c7a33c4b65b9aebfe6a799e6d9
1,a03223e636434f42ac4c3df47e8bac43,offer received,0,0,0b1e1539f2cc45b7b9fa7c272da2e1d7
2,e2127556f4f64592b11af22de27a7932,offer received,0,0,2906b810c7d4411798c6938adc9daaa5
3,8ec6ce2a7e7949b1bf142def7d0e0586,offer received,0,0,fafdcd668e3743c1bb461111dcafc2a4
4,68617ca6246f4fbc85e91a2a49552598,offer received,0,0,4d5c57ea9a6940dd891ad53e9dbe8da0
...,...,...,...,...,...
167576,a6f84f4e976f44508c358cc9aba6d2b3,offer completed,714,30,2298d6c36e964ae4a3e7e9706d1fb8c2
167577,b895c57e8cd047a8872ce02aa54759d6,offer completed,714,30,fafdcd668e3743c1bb461111dcafc2a4
167578,8dda575c2a1d44b9ac8e8b07b93d1f8e,offer viewed,714,30,0b1e1539f2cc45b7b9fa7c272da2e1d7
167579,8431c16f8e1d440880db371a68f82dd0,offer completed,714,30,fafdcd668e3743c1bb461111dcafc2a4
167580,24f56b5e1849462093931b164eb803b5,offer completed,714,30,fafdcd668e3743c1bb461111dcafc2a4

In [20]:
df_temp=pd.get_dummies(data=transcript_offer.event )
df_transcript_offer=pd.concat([transcript_offer,df_temp], axis=1)
df_transcript_offer.rename({'offer completed':'completed','offer received':'received', 'offer viewed': 'viewed'},axis=1, inplace= True)
df_transcript_offer

,customer_id,event,time,days,offer_id,completed,received,viewed
0,78afa995795e4d85b5d9ceeca43f5fef,offer received,0,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,0,1,0
1,a03223e636434f42ac4c3df47e8bac43,offer received,0,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,0,1,0
2,e2127556f4f64592b11af22de27a7932,offer received,0,0,2906b810c7d4411798c6938adc9daaa5,0,1,0
3,8ec6ce2a7e7949b1bf142def7d0e0586,offer received,0,0,fafdcd668e3743c1bb461111dcafc2a4,0,1,0
4,68617ca6246f4fbc85e91a2a49552598,offer received,0,0,4d5c57ea9a6940dd891ad53e9dbe8da0,0,1,0
...,...,...,...,...,...,...,...,...
167576,a6f84f4e976f44508c358cc9aba6d2b3,offer completed,714,30,2298d6c36e964ae4a3e7e9706d1fb8c2,1,0,0
167577,b895c57e8cd047a8872ce02aa54759d6,offer completed,714,30,fafdcd668e3743c1bb461111dcafc2a4,1,0,0
167578,8dda575c2a1d44b9ac8e8b07b93d1f8e,offer viewed,714,30,0b1e1539f2cc45b7b9fa7c272da2e1d7,0,0,1
167579,8431c16f8e1d440880db371a68f82dd0,offer completed,714,30,fafdcd668e3743c1bb461111dcafc2a4,1,0,0
167580,24f56b5e1849462093931b164eb803b5,offer completed,714,30,fafdcd668e3743c1bb461111dcafc2a4,1,0,0

In [36]:
df_transcript_offer.groupby(['customer_id', 'offer_id']).sum()

                                                                   time  days  \
customer_id                      offer_id
0009655768c64bdeb2e877511632db8f 2906b810c7d4411798c6938adc9daaa5  1152    48
                                 3f207df678b143eea3cee63160fa8bed   708    30
                                 5a8bc65990b245e5a138643cd4eb9837   360    15
                                 f19421c1d4aa40978ebb69ca19b0e20d  1278    53
                                 fafdcd668e3743c1bb461111dcafc2a4  1572    65
...                                                                 ...   ...
fffad4f4828548d1b5583907f2e9906b f19421c1d4aa40978ebb69ca19b0e20d  1476    62
ffff82501cea40309d5fdd7edcca4a07 0b1e1539f2cc45b7b9fa7c272da2e1d7   540    22
                                 2906b810c7d4411798c6938adc9daaa5  4044   168
                                 9b98b8c7a33c4b65b9aebfe6a799e6d9  1542    64
                                 fafdcd668e3743c1bb461111dcafc2a4    66     2

                                                                   completed  \
customer_id                      offer_id
0009655768c64bdeb2e877511632db8f 2906b810c7d4411798c6938adc9daaa5          1
                                 3f207df678b143eea3cee63160fa8bed          0
                                 5a8bc65990b245e5a138643cd4eb9837          0
                                 f19421c1d4aa40978ebb69ca19b0e20d          1
                                 fafdcd668e3743c1bb461111dcafc2a4          1
...                                                                      ...
fffad4f4828548d1b5583907f2e9906b f19421c1d4aa40978ebb69ca19b0e20d          2
ffff82501cea40309d5fdd7edcca4a07 0b1e1539f2cc45b7b9fa7c272da2e1d7          1
                                 2906b810c7d4411798c6938adc9daaa5          3
                                 9b98b8c7a33c4b65b9aebfe6a799e6d9          1
                                 fafdcd668e3743c1bb461111dcafc2a4          1

                                                                   received  \
customer_id                      offer_id
0009655768c64bdeb2e877511632db8f 2906b810c7d4411798c6938adc9daaa5         1
                                 3f207df678b143eea3cee63160fa8bed         1
                                 5a8bc65990b245e5a138643cd4eb9837         1
                                 f19421c1d4aa40978ebb69ca19b0e20d         1
                                 fafdcd668e3743c1bb461111dcafc2a4         1
...                                                                     ...
fffad4f4828548d1b5583907f2e9906b f19421c1d4aa40978ebb69ca19b0e20d         2
ffff82501cea40309d5fdd7edcca4a07 0b1e1539f2cc45b7b9fa7c272da2e1d7         1
                                 2906b810c7d4411798c6938adc9daaa5         3
                                 9b98b8c7a33c4b65b9aebfe6a799e6d9         1
                                 fafdcd668e3743c1bb461111dcafc2a4         1

                                                                   viewed
customer_id                      offer_id
0009655768c64bdeb2e877511632db8f 2906b810c7d4411798c6938adc9daaa5       0
                                 3f207df678b143eea3cee63160fa8bed       1
                                 5a8bc65990b245e5a138643cd4eb9837       1
                                 f19421c1d4aa40978ebb69ca19b0e20d       1
                                 fafdcd668e3743c1bb461111dcafc2a4       1
...                                                                   ...
fffad4f4828548d1b5583907f2e9906b f19421c1d4aa40978ebb69ca19b0e20d       2
ffff82501cea40309d5fdd7edcca4a07 0b1e1539f2cc45b7b9fa7c272da2e1d7       1
                                 2906b810c7d4411798c6938adc9daaa5       3
                                 9b98b8c7a33c4b65b9aebfe6a799e6d9       1
                                 fafdcd668e3743c1bb461111dcafc2a4       1

[63288 rows x 5 columns]

In [22]:
transcript_offer_received=transcript_offer[transcript_offer['event']=='offer received']
transcript_offer_received.reset_index(inplace=True,drop=True)
transcript_offer_received

,customer_id,event,time,days,offer_id
0,78afa995795e4d85b5d9ceeca43f5fef,offer received,0,0,9b98b8c7a33c4b65b9aebfe6a799e6d9
1,a03223e636434f42ac4c3df47e8bac43,offer received,0,0,0b1e1539f2cc45b7b9fa7c272da2e1d7
2,e2127556f4f64592b11af22de27a7932,offer received,0,0,2906b810c7d4411798c6938adc9daaa5
3,8ec6ce2a7e7949b1bf142def7d0e0586,offer received,0,0,fafdcd668e3743c1bb461111dcafc2a4
4,68617ca6246f4fbc85e91a2a49552598,offer received,0,0,4d5c57ea9a6940dd891ad53e9dbe8da0
...,...,...,...,...,...
76272,d087c473b4d247ccb0abfef59ba12b0e,offer received,576,24,ae264e3637204a6fb9bb56bc8210ddfd
76273,cb23b66c56f64b109d673d5e56574529,offer received,576,24,2906b810c7d4411798c6938adc9daaa5
76274,6d5f3a774f3d4714ab0c092238f3a1d7,offer received,576,24,2298d6c36e964ae4a3e7e9706d1fb8c2
76275,9dc1421481194dcd9400aec7c9ae6366,offer received,576,24,ae264e3637204a6fb9bb56bc8210ddfd
76276,e4052622e5ba45a8b96b59aba68cf068,offer received,576,24,3f207df678b143eea3cee63160fa8bed

In [23]:
transcript_offer_viewed=transcript_offer[transcript_offer['event']=='offer viewed']
transcript_offer_viewed.reset_index(inplace=True,drop=True)
transcript_offer_viewed

,customer_id,event,time,days,offer_id
0,389bc3fa690240e798340f5a15918d5c,offer viewed,0,0,f19421c1d4aa40978ebb69ca19b0e20d
1,d1ede868e29245ea91818a903fec04c6,offer viewed,0,0,5a8bc65990b245e5a138643cd4eb9837
2,102e9454054946fda62242d2e176fdce,offer viewed,0,0,4d5c57ea9a6940dd891ad53e9dbe8da0
3,02c083884c7d45b39cc68e1314fec56c,offer viewed,0,0,ae264e3637204a6fb9bb56bc8210ddfd
4,be8a5d1981a2458d90b255ddc7e0d174,offer viewed,0,0,5a8bc65990b245e5a138643cd4eb9837
...,...,...,...,...,...
57720,d56386cf344c4829bbf420d1895dca37,offer viewed,714,30,5a8bc65990b245e5a138643cd4eb9837
57721,9b51e8797290403b90d09d864dec4b94,offer viewed,714,30,3f207df678b143eea3cee63160fa8bed
57722,84fb57a7fe8045a8bf6236738ee73a0f,offer viewed,714,30,5a8bc65990b245e5a138643cd4eb9837
57723,abc4359eb34e4e2ca2349da2ddf771b6,offer viewed,714,30,3f207df678b143eea3cee63160fa8bed
57724,8dda575c2a1d44b9ac8e8b07b93d1f8e,offer viewed,714,30,0b1e1539f2cc45b7b9fa7c272da2e1d7

In [24]:
transcript_offer_completed=transcript_offer[transcript_offer['event']=='offer completed']
transcript_offer_completed.reset_index(inplace=True,drop=True)
transcript_offer_completed

,customer_id,event,time,days,offer_id
0,9fa9ae8f57894cc9a3b8a9bbe0fc1b2f,offer completed,0,0,2906b810c7d4411798c6938adc9daaa5
1,fe97aa22dd3e48c8b143116a8403dd52,offer completed,0,0,fafdcd668e3743c1bb461111dcafc2a4
2,629fc02d56414d91bca360decdfa9288,offer completed,0,0,9b98b8c7a33c4b65b9aebfe6a799e6d9
3,676506bad68e4161b9bbaffeb039626b,offer completed,0,0,ae264e3637204a6fb9bb56bc8210ddfd
4,8f7dd3b2afe14c078eb4f6e6fe4ba97d,offer completed,0,0,4d5c57ea9a6940dd891ad53e9dbe8da0
...,...,...,...,...,...
33574,0c027f5f34dd4b9eba0a25785c611273,offer completed,714,30,2298d6c36e964ae4a3e7e9706d1fb8c2
33575,a6f84f4e976f44508c358cc9aba6d2b3,offer completed,714,30,2298d6c36e964ae4a3e7e9706d1fb8c2
33576,b895c57e8cd047a8872ce02aa54759d6,offer completed,714,30,fafdcd668e3743c1bb461111dcafc2a4
33577,8431c16f8e1d440880db371a68f82dd0,offer completed,714,30,fafdcd668e3743c1bb461111dcafc2a4
33578,24f56b5e1849462093931b164eb803b5,offer completed,714,30,fafdcd668e3743c1bb461111dcafc2a4

In [25]:
transcript_trans=transcript[transcript['amount'].notnull()]
transcript_trans.reset_index(inplace=True,drop=True)
transcript_trans

,customer_id,event,time,days,amount,offer_id
0,02c083884c7d45b39cc68e1314fec56c,transaction,0,0,0.83,NaN
1,9fa9ae8f57894cc9a3b8a9bbe0fc1b2f,transaction,0,0,34.56,NaN
2,54890f68699049c2a04d415abc25e717,transaction,0,0,13.23,NaN
3,b2f1cd155b864803ad8334cdf13c4bd2,transaction,0,0,19.51,NaN
4,fe97aa22dd3e48c8b143116a8403dd52,transaction,0,0,18.97,NaN
...,...,...,...,...,...,...
138948,b3a1272bc9904337b331bf348c3e8c17,transaction,714,30,1.59,NaN
138949,68213b08d99a4ae1b0dcb72aebd9aa35,transaction,714,30,9.53,NaN
138950,a00058cf10334a308c68e7631c529907,transaction,714,30,3.61,NaN
138951,76ddbd6576844afe811f1a3c0fbb5bec,transaction,714,30,3.53,NaN
138952,c02b10e8752c4d8e9b73f918558531f7,transaction,714,30,4.05,NaN

# Profile

In [26]:
profile

,gender,age,id,became_member_on,income
0,None,118,68be06ca386d4c31939f3a4f0e3dd783,20170212,NaN
1,F,55,0610b486422d4921ae7d2bf64640c50b,20170715,112000.0
2,None,118,38fe809add3b4fcf9315a9694bb96ff5,20180712,NaN
3,F,75,78afa995795e4d85b5d9ceeca43f5fef,20170509,100000.0
4,None,118,a03223e636434f42ac4c3df47e8bac43,20170804,NaN
...,...,...,...,...,...
16995,F,45,6d5f3a774f3d4714ab0c092238f3a1d7,20180604,54000.0
16996,M,61,2cb4f97358b841b9a9773a7aa05a9d77,20180713,72000.0
16997,M,49,01d26f638c274aa0b965d24cefe3183f,20170126,73000.0
16998,F,83,9dc1421481194dcd9400aec7c9ae6366,20160307,50000.0
16999,F,62,e4052622e5ba45a8b96b59aba68cf068,20170722,82000.0

In [27]:
profile.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17000 entries, 0 to 16999
Data columns (total 5 columns):
gender              14825 non-null object
age                 17000 non-null int64
id                  17000 non-null object
became_member_on    17000 non-null int64
income              14825 non-null float64
dtypes: float64(1), int64(2), object(2)
memory usage: 664.2+ KB

## Data Cleaning : Profile

In [28]:
#Check for any duplicated entry on profile ID
profile = pd.read_json('data/profile.json', orient='records', lines=True)
profile[profile['id'].duplicated()]

Empty DataFrame
Columns: [gender, age, id, became_member_on, income]
Index: []

In [29]:
type(profile['became_member_on'][1])

numpy.int64

In [30]:
#Change the "became_member_on" Column data type from int64 to datetime for futher explorations
profile['became_member_on']=pd.to_datetime(profile['became_member_on'], format='%Y%m%d')
profile.head()

  gender  age                                id became_member_on    income
0   None  118  68be06ca386d4c31939f3a4f0e3dd783       2017-02-12       NaN
1      F   55  0610b486422d4921ae7d2bf64640c50b       2017-07-15  112000.0
2   None  118  38fe809add3b4fcf9315a9694bb96ff5       2018-07-12       NaN
3      F   75  78afa995795e4d85b5d9ceeca43f5fef       2017-05-09  100000.0
4   None  118  a03223e636434f42ac4c3df47e8bac43       2017-08-04       NaN

In [31]:
#add column for date, month and year extracted from became_member_on column
profile['join_year'] = profile['became_member_on'].dt.year
profile['join_month'] = profile['became_member_on'].dt.month
profile['join_day'] = profile['became_member_on'].dt.day
profile.head()

,gender,age,id,became_member_on,income,join_year,join_month,join_day
0,None,118,68be06ca386d4c31939f3a4f0e3dd783,2017-02-12,NaN,2017,2,12
1,F,55,0610b486422d4921ae7d2bf64640c50b,2017-07-15,112000.0,2017,7,15
2,None,118,38fe809add3b4fcf9315a9694bb96ff5,2018-07-12,NaN,2018,7,12
3,F,75,78afa995795e4d85b5d9ceeca43f5fef,2017-05-09,100000.0,2017,5,9
4,None,118,a03223e636434f42ac4c3df47e8bac43,2017-08-04,NaN,2017,8,4

In [32]:
#rename column id to customer_id for future merging purpose
profile.rename(columns={'id':'customer_id'}, inplace=True)

In [33]:
profile_df1.reset_index(inplace=True)

NameError: name 'profile_df1' is not defined

In [ ]:
profile['gender'].unique()

In [ ]:
profile['gender'].unique()

In [ ]:
profile.isnull().sum()

In [ ]:
profile[profile['gender'].isnull()]

In [ ]:
profile_df1=profile[profile['income'].isnull()]
profile_df1

In [ ]:
#If we look at the NaN values they are  from the same age i.e, 118, let's try to find out if that's the value that NaN corresponds to 

profile[((profile['income'].isnull()) & (profile['gender'].isnull()))]

As per my understanding the company/app is putting age 118 as default value where the customer don't want to put their personal details like age, gender and income into the app or the data is simply unavailable.

So, age=118 is an indicator rather than age.

Since, we are missing important parameters like gender, income and age which can be very useful to get a better understanding of the data and is essential for data modelling.

Let's check if we can consider to remove the rows with age=118.

In [ ]:
len(profile[profile['age']==118])/len(profile)

Around 13% of customer_id doesn't have information about age, income and gender

Let's check how many of these customer_id has viewed and completed the offer

In [ ]:
sort_profile=

In [ ]:
complete_profile=sort_profile[(sort_profile.customer_id.isin(transcript_offer_completed.customer_id)) & (sort_profile.customer_id.isin(transcript_offer_viewed.customer_id))]
complete_profile.reset_index(inplace=True,drop=True)
complete_profile

In [ ]:
len(complete_profile)/len(profile)

In [ ]:
transcript_trans

In [ ]:
profile_df1.drop('index', axis=1, inplace=True)

In [ ]:
profile_df1

In [ ]:
type(transcript_trans.customer_id[1])

In [ ]:
df1=transcript_trans.customer_id

In [ ]:
df2=df_profile.customer_id

In [ ]:
(transcript_trans.customer_id.isin(profile_df1.customer_id).astype(str))

In [ ]:
transcript_offer

In [ ]:
sort_profile=profile_df1[profile_df1.customer_id.isin(transcript_trans.customer_id)]

In [ ]:
profile_df1[profile_df1.customer_id.isin(transcript_offer.customer_id)]

In [ ]:
sort_offer=transcript_offer[transcript_offer['event']=='offer completed']

In [ ]:
profile_df1[profile_df1.customer_id.isin(sort_offer.customer_id)]

In [ ]:
df1==df2

In [ ]:
lol

In [ ]:
offer_reference = {}

for i,j in zip(portfolio['offer_id'], portfolio['offer_type']):
    offer_reference[i] = j
    

offer_duration_reference = {}

for i,j in zip(portfolio['offer_id'], portfolio['duration']):
    offer_duration_reference[i] = j*24
    
    
full_data = []

# Iterate through each person

for person in list(transcript['customer_id'].unique()):
    
    not_completed = {}
    received = []
    active = []
    total_data = {}
    information = []

    for index, row in transcript[transcript['customer_id'] == person].iterrows():

        if row['event'] == 'offer received':

            # Everytime there is an offer received, do this
            received.append(row['offer_id'])
            key = row['offer_id'] + '-' + str(received.count(row['offer_id']))
            not_completed[key] = row['time']
            total_data[key] = [row['customer_id'], row['offer_id'], 0, 0, 0, 0] 


        if row['event'] == 'offer viewed':

            # If the customers have seen the informational offer
            if offer_reference[row['offer_id']] == 'informational':
                information.append(row['offer_id'])

            # Everytime the offer is viewed, do this
            active = list(filter(lambda x: x.split('-')[0] == row['offer_id'], list(not_completed.keys())))

            # If there is only one offer_id active
            if len(active) == 1:

                # Only change the value if the offer is not completed yet
                if active[0] in not_completed:                    
                    total_data[active[0]][2] = 1

            # If there are more than one offer_id active
            else:
                for offer_id in active:
                    if (row['time'] - not_completed[offer_id]) < offer_duration_reference[row['offer_id']]:
                        if total_data[offer_id][2] == 1:
                            continue
                        total_data[offer_id][2] = 1
                        break


        if row['event'] == 'offer completed':

            # If the users completed the offer and have seen the informational offer
            info = False
            if len(information) > 0:
                info = True

            # Everytime the offer is completed, do this
            active = list(filter(lambda x: x.split('-')[0] == row['offer_id'], list(not_completed.keys())))

            # If there is only one offer_id active
            if len(active) == 1:
                total_data[active[0]][3] = 1
                total_data[active[0]][5] = row['time'] - not_completed[active[0]]
                not_completed.pop(active[0])

                if info:
                    total_data[active[0]][4] = 1

                continue

            # If there is more that one offer_id active
            else:
                for offer_id in active:
                    if (row['time'] - not_completed[offer_id]) < offer_duration_reference[row['offer_id']]:
                        total_data[offer_id][3] = 1
                        total_data[offer_id][5] = row['time'] - not_completed[offer_id]
                        not_completed.pop(offer_id)

                        if info:
                            total_data[offer_id][4] = 1

                        break

    for index, value in total_data.items():
        full_data += [value]

In [ ]:
received

In [ ]:
compiled_data['offer_id']

In [ ]:
# Create a dataframe based on the compile result
compiled_data = pd.DataFrame(full_data, columns=['customer_id', 'offer_id', 'viewed', 'completed', 'view_information', 'time_completed'])

compiled_data.head()

In [ ]:
df_transcript_offer

In [ ]:
compiled_data_merged = compiled_data.merge(df_portfolio, left_on='offer_id', right_on='offer_id')
check_data = compiled_data_merged.merge(df_profile, left_on='customer_id', right_on='customer_id')
check_data

In [ ]:
check_data.to_csv(r'C:\\Users\\Suramya Pathak\\Untitled Folder\\Projects\\Untitled Folder\\SB\\check_data.csv',header=False, index=False, sep='|')

In [ ]:
check_data.columns

In [ ]:
re_check_data=check_data.drop(['became_member_on','join_year', 'join_month', 'join_day'],axis=1)

In [ ]:
re_check_data

In [ ]:

new_df=re_check_data

In [ ]:
comp_df1

In [ ]:
mcomp_df1=pd.DataFrame(new_df[(new_df['viewed']==1) & (re_check_data['completed']==1)& (re_check_data['gender']=='M')][['web','social','email','mobile']].sum())

In [ ]:
mcomp_df1

In [ ]:
mcomp_df1=pd.DataFrame(new_df[(new_df['viewed']==1) & (new_df['completed']==1)& (new_df['gender']=='M')][['web','social','email','mobile']].sum())


mnview_df1=pd.DataFrame(new_df[(new_df['viewed']==0) & (new_df['completed']==1)& (new_df['gender']=='M')][['web','social','email','mobile']].sum())


msent_df1=pd.DataFrame(new_df[new_df['gender']=='M'][['web','social','email','mobile']].sum())



mview_df1=pd.DataFrame(new_df[(new_df['viewed']==1)& (new_df['gender']=='M')][['web','social','email','mobile']].sum())


mvis_df=pd.concat([msent_df1, mview_df1, mcomp_df1], axis=1)

mvis_df.columns=['Sent','Viewed','Completed']
mvis_df

mvs_ratio=mvis_df['Viewed']/mvis_df['Sent']
mvs_ratio.plot.bar()

In [ ]:
mvs_ratio.sort_values()

In [ ]:
mcv_ratio.sort_values()

In [ ]:
mcv_ratio=mvis_df['Completed']/mvis_df['Viewed']
mcv_ratio.plot.bar()

In [ ]:
new_df.gender.value_counts()

In [ ]:
new_df[(new_df['gender']=='F') & (new_df['gender']=='M')]

In [ ]:
new_df[(new_df['gender']=='F') & (new_df['completed']==1)&(new_df['viewed']==1)]['customer_id'].count()

In [ ]:
new_df[(new_df['gender']=='M') & (new_df['completed']==1)&(new_df['viewed']==1)]['customer_id'].count()

In [ ]:
fcomp_df1=pd.DataFrame(new_df[(new_df['viewed']==1) & (new_df['completed']==1) & (new_df['gender']=='F')][['web','social','email','mobile']].sum())


fnview_df1=pd.DataFrame(new_df[(new_df['viewed']==0) & (new_df['completed']==1) & (new_df['gender']=='F')][['web','social','email','mobile']].sum())


fsent_df1=pd.DataFrame(new_df[new_df['gender']=='F'][['web','social','email','mobile']].sum())



fview_df1=pd.DataFrame(new_df[(new_df['viewed']==1)& (new_df['gender']=='F')][['web','social','email','mobile']].sum())


fvis_df=pd.concat([fsent_df1, fview_df1, fcomp_df1], axis=1)

fvis_df.columns=['Sent','Viewed','Completed']
fvis_df

fvs_ratio=fvis_df['Viewed']/fvis_df['Sent']
fvs_ratio.plot.bar()

In [ ]:
fvs_ratio.sort_values()

In [ ]:
fcv_ratio.sort_values()

In [ ]:
fcv_ratio=fvis_df['Completed']/fvis_df['Viewed']
fcv_ratio.plot.bar()

In [ ]:
new_df

In [ ]:
omcomp_df1=pd.DataFrame(new_df[(new_df['viewed']==1) & (new_df['completed']==1) & (new_df['gender']=='M')])['offer_id'].value_counts()
omcomp_df1

In [ ]:
ofcomp_df1=pd.DataFrame(new_df[(new_df['viewed']==1) & (new_df['completed']==1) & (new_df['gender']=='F')])['offer_id'].value_counts()
ofcomp_df1

In [ ]:
omcomp_df1=pd.DataFrame(new_df[(new_df['viewed']==1) & (new_df['completed']==1) & (new_df['gender']=='O')])['offer_id'].value_counts()
omcomp_df1

In [ ]:
new_df[(new_df['offer_id']=='2906b810c7d4411798c6938adc9daaa5')]

In [ ]:
comp_df1=pd.DataFrame(new_df[(new_df['viewed']==1) & (re_check_data['completed']==1)][['web','social','email','mobile']].sum())
comp_df=comp_df1

nview_df1=pd.DataFrame(new_df[(new_df['viewed']==0) & (re_check_data['completed']==1)][['web','social','email','mobile']].sum())
nview_df=nview_df1

In [ ]:
sent_df1=pd.DataFrame(new_df[['web','social','email','mobile']].sum())
sent_df=sent_df1

In [ ]:
view_df1=pd.DataFrame(new_df[(new_df['viewed']==1)][['web','social','email','mobile']].sum())
view_df=view_df1

In [ ]:
vis_df=pd.concat([sent_df1, view_df1, comp_df1], axis=1)

vis_df.columns=['Sent','Viewed','Completed']
vis_df

In [ ]:
vis_df.plot.bar()

In [ ]:
vs_ratio=vis_df['Viewed']/vis_df['Sent']
vs_ratio.plot.bar()

In [ ]:
vs_ratio.sort_values()

In [ ]:
vc_ratio.sort_values()

In [ ]:
vcs_ratio.plot.bar()

In [ ]:
vc_ratio=vis_df['Completed']/vis_df['Viewed']
vc_ratio.plot.bar()

In [ ]:
vs_ratio

In [ ]:
age_diff=np.arange(new_df['age'].min(), new_df['age'].max(), 10)
dash=pd.cut(new_df['age'], age_diff)
new_df['age_group']=dash
new_df1=pd.DataFrame(new_df[(new_df['viewed']==1) & (re_check_data['completed']==1)])
new_sent=new_df.groupby('age_group')[['web','social','email','mobile']].sum()
new_completed=new_df1.groupby('age_group')[['web','social','email','mobile']].sum()
new_age=new_completed/new_sent
new_age.plot.bar()

In [ ]:
new_age
data_cum

In [ ]:
data

In [ ]:
category_names=['web','social','email','mobile']
labels = list(dash.unique())
data = np.array(list(new_age.loc[:,:].values))
row_sums = data.sum(axis=1)
new_matrix = data / row_sums[:, np.newaxis]
data_cum = new_matrix.cumsum(axis=1)
category_colors = plt.get_cmap('Blues')(
np.linspace(0.15, 0.85, data.shape[1]))

fig, ax = plt.subplots(figsize=(11, 8))
ax.invert_yaxis()
ax.xaxis.set_visible(False)
ax.set_xlim(0, np.sum(data, axis=1).max())
plt.title('Top 10 counties : Job Satisfaction')

for i, (colname, color) in enumerate(zip(category_names, category_colors)):
    widths = data[:, i]
    starts = data_cum[:, i] - widths
    ax.barh(labels, widths, left=starts, height=0.5,label=colname, color=color)
    xcenters = starts + widths / 2
        
    r, g, b, _ = color
    text_color = 'white' if r * g * b < 0.1 else 'black'
    for y, (x, c) in enumerate(zip(xcenters, widths)):
        ax.text(x, y, str(float(c)), ha='center', va='center',
                color=text_color)
        ax.legend(ncol=len(category_names), bbox_to_anchor=(0, 1),
                  loc='lower left', fontsize='small')

In [ ]:
off_sort=new_df.groupby('offer_id')['customer_id'].count()
off_sort.plot.bar()

In [ ]:
new_df[(new_df['viewed']==1) & (re_check_data['completed']==1)]['offer_id'].count()

In [ ]:
off_sort

In [ ]:
off_sort=pd.DataFrame(off_sort, index=None)

off_sort

In [ ]:
off_sort.merge(portfolio, right_on='offer_id', left_on='offer_id')

In [ ]:

trans_pro=profile.merge(transcript_trans, left_on='customer_id', right_on='customer_id')
trans_pro

In [ ]:
plt.hist(trans_pro[trans_pro['gender'] == 'M']['amount'], range=(0, 40), alpha=0.5, bins=40, label='Male')
plt.hist(trans_pro[trans_pro['gender'] == 'F']['amount'], range=(0, 40), alpha=0.5, bins=40, label='Female')
plt.hist(trans_pro[trans_pro['gender'] == '0']['amount'], range=(0, 40), alpha=0.5, bins=40, label='Oblivious')
plt.legend(loc='upper right')

plt.title('Spending per Transaction Distribution')
plt.xlabel('Amount ($)')
plt.show()

In [ ]:
trans_pro[trans_pro['gender']=='M']['amount'].mean()

For male the buying frquency is high however, the amount of purchase is lower than female, so to increase the amount, we need t find the mean value of all the purchases made by male population and then create offers around that amount
This would be the mean value of amount that is paid by male, we need to build more packages around it. That would increase the sale volume

In [ ]:
ofcomp_df1=pd.DataFrame(new_df[(new_df['viewed']==1) & (new_df['completed']==1) & (new_df['gender']=='F')])['offer_id'].value_counts()
ofcomp_df1

In [ ]:
portfolio[(portfolio['offer_id']=='fafdcd668e3743c1bb461111dcafc2a4')]

In [ ]:
portfolio[(portfolio['offer_id']=='2298d6c36e964ae4a3e7e9706d1fb8c2')]

For female customers we need to increase the frequency as the average speding amount is more than male
We need to create offer with lower validity (duration) and lower difficulties similar to two top viewed as well as complted offers. this will increase the frequency

In [ ]:
trans_pro[['gender','amount']]

In [ ]:
gen_pro=trans_pro[['gender','amount']]

In [ ]:

gen_pro=gen_pro.groupby('gender')['amount'].mean()

In [ ]:
gen_pro

In [ ]:
gen_pro.plot.bar()

In [ ]:
vis_df.plot.bar()

In [ ]:
vis_df.plot.barh(stacked=True)

In [ ]:
chan_check['web'].sum()/re_check_data['web'].sum()

In [ ]:
chan_check['social'].sum()/re_check_data['social'].sum()

In [ ]:
re_check_data['social'].sum()/re_check_data['web'].sum()

In [ ]:
chan_check['email'].sum()/re_check_data['email'].sum()

In [ ]:
re_check_data['email'].sum()

In [ ]:
chan_check['mobile'].sum()/re_check_data['mobile'].sum()

In [ ]:
view_check=re_check_data[(re_check_data['viewed']==1)]

In [ ]:
view_check['social'].sum()/re_check_data['social'].sum()

In [ ]:
view_check['email'].sum()/re_check_data['email'].sum()

In [ ]:
view_check['mobile'].sum()/re_check_data['mobile'].sum()

In [ ]:
view_check['web'].sum()/re_check_data['web'].sum()

In [ ]:

chan_visual

In [ ]:
chan_visual.plot.bar()

In [ ]:
compiled_data_merged = compiled_data.merge(portfolio, left_on='offer_id', right_on='offer_id')
complete_data = compiled_data_merged.merge(df_profile, left_on='customer_id', right_on='customer_id').drop(columns=['customer_id'])

complete_data.head()

In [ ]:
len(complete_data)

Splitting transcript database into two different databases transcript_offer for offer based information and transcript_trans for transaction based information

In [ ]:
transcript_offer=transcript[transcript['amount'].isnull()]
transcript_offer

In [ ]:
transcript_offer.drop('amount', axis=1, inplace=True)

In [ ]:
transcript_offer['event'].unique()

In [ ]:
df_temp=pd.get_dummies(transcript_offer.event)
df_transcript_offer=pd.concat([transcript_offer, df_temp], axis=1)
df_transcript_offer.drop('event', axis=1, inplace=True)

In [ ]:
df_transcript_offer

In [ ]:
transcript_trans=transcript[transcript['amount'].notnull()]

In [ ]:
transcript_trans

In [ ]:
transcript_trans['event'].unique()

In [ ]:
transcript_trans.drop('offer_id', axis=1, inplace=True)

In [ ]:
transcript_trans

# Explore Data

## Age Group Distribution

In [ ]:
profile['age'].describe()

In [ ]:
age_diff=np.arange(profile['age'].min(), profile['age'].max(), 10)
dash=pd.cut(profile['age'], age_diff)
age_visual=profile.groupby(dash)['customer_id'].count()
age_visual

In [ ]:
ax=sns.barplot(age_visual.index, age_visual.values, palette='colorblind')
ax.set_xticklabels(ax.get_xticklabels(), rotation=90);

In [ ]:
income_gr = profile.groupby(pd.cut(profile['income'], np.arange(profile['income'].min(), profile['income'].max(), 10000)))['customer_id'].count()
income_gr

In [ ]:
ax=sns.barplot(income_gr.index, income_gr.values, palette='colorblind')
ax.set_xticklabels(ax.get_xticklabels(), rotation=90);

In [ ]:
x_axis=(profile[profile['gender_type_F']==1]['gender_type_F'].count(),
profile[profile['gender_type_M']==1]['gender_type_M'].count(),
profile[profile['gender_type_O']==1]['gender_type_O'].count())

In [ ]:
ax=sns.barplot(x_axis, x_axis, palette='colorblind')
labels= ['Gender O','Gender F' ,'Gender M']
ax.set_xticklabels(labels=labels, rotation=90);

In [ ]:
##Member Joining Date
mem_yr_mo_gr=profile.groupby(profile['became_member_on'].dt.to_period('M'))['customer_id'].count()#membership joined on month year basis
mem_qua = profile.groupby(profile['became_member_on'].dt.to_period('Q'))['customer_id'].count() #membership joined on quaterly basis

In [ ]:
event_gr=transcript.groupby(['event'])['customer_id'].count() # grouping on the basis of event

In [ ]:

transcript_df=df_transcript_offer.merge(transcript_trans, on ='customer_id', how='left')

In [ ]:
len(transcript_df)

In [ ]:
transcript_df=transcript_df.drop_duplicates(keep='first')

In [ ]:
transcript_trans

In [ ]:
complete_data

In [ ]:
complete_data[(complete_data['viewed'] == 0) & (complete_data['completed'] == 1)]['reward'].sum()

In [ ]:
complete_group=complete_data.groupby(['offer_id','offer_type']).count()

In [ ]:
for offer in range(complete_data):
    if offer['completed']==1:
        round(((*total_completed_without_view) / (total_completed))*100, 2)

In [ ]:
complete_data[complete_data['viewed']==0].groupby(['offer_id','offer_type']).sum()

In [ ]:
complete_data

In [ ]:
complete_data.head()

In [ ]:
complete_data[complete_data['offer_type']=='informational']

In [ ]:
indexnames=complete_data[complete_data['offer_type']=='informational'].index
complete_data.drop(indexnames, axis=0, inplace=True)

In [ ]:

df_temp=pd.get_dummies(data=complete_data.gender, prefix='gender_type')
complete_data=pd.concat([complete_data, df_temp], axis=1)
complete_data.drop('gender', axis=1, inplace=True)

df_temp=pd.get_dummies(data=complete_data.offer_type, prefix='offer_type')
complete_data=pd.concat([complete_data, df_temp], axis=1)
complete_data.drop('offer_type', axis=1, inplace=True)

unq_channels=list(set(itertools.chain(*complete_data['channels'].tolist())))
for channel in unq_channels:
    complete_data[channel] = complete_data.channels.apply(lambda x:1 if channel in x else 0 )
complete_data.drop('channels', axis=1, inplace=True)

In [ ]:
complete_data

In [ ]:
complete_data.drop(['offer_id','became_member_on','join_year','join_month','join_day'], axis=1, inplace=True )

In [ ]:
y=complete_data.iloc[:,:3]

In [ ]:
X=complete_data.iloc[:,3:]

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=101)

In [ ]:
from sklearn.preprocessing import MinMaxScaler

In [ ]:
scaler = MinMaxScaler()

In [ ]:
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [ ]:
X_train.shape

In [ ]:
y_train.shape

In [ ]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Activation,Dropout
from tensorflow.keras.constraints import max_norm

In [ ]:
model = Sequential()

# https://stats.stackexchange.com/questions/181/how-to-choose-the-number-of-hidden-layers-and-nodes-in-a-feedforward-neural-netw


# input layer
model.add(Dense(16,  activation='relu'))
model.add(Dropout(0.2))

# hidden layer
model.add(Dense(8, activation='relu'))
model.add(Dropout(0.2))

# hidden layer
model.add(Dense(8, activation='relu'))
model.add(Dropout(0.2))

# output layer
model.add(Dense(units=3,activation='softmax'))

# Compile model
model.compile(loss='categorical_crossentropy', optimizer='adam')

In [ ]:
model.fit(x=X_train, 
          y=y_train, 
          epochs=5,
          batch_size=256,
          validation_data=(X_test, y_test), 
          )

In [ ]:
import pandas as pd
check_data=pd.read_csv('check_data.csv', sep='|')

# Findings

## 1. The offers which are not on social media are least popular among the population

In [ ]:
2.